* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #473b3be3;
    --pink: #ecdbcf;
    --green: #004400;
    --blue: #2292a4;
    --orange: #d56012;
}

.main-catalogo {
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5% 40px;

}


.btn-catalogo {
    background-color: var(--orange);
    color: var(--pink);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
    margin: 10px;
    cursor: pointer;
}

.btn-catalogo:hover,
.btn-catalogo:active {
    background-color: var(--green);
    color: var(--pink);
}

.btns-catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btns-catalogo .btn-catalogo {
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}

@media(min-width: 768px) {
    .btns-catalogo {
        display: inline-block;
    }

    .btns-catalogo .btn-catalogo {
        flex: unset;
        padding: 10px 15px;

    }
}

@media(min-width: 768px) {
    .platillos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media(min-width: 768px) {
    .cards-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1rem 0;
        gap: 1rem;
    }
}

.card-catalogo {
    flex: 0 0 calc(23% - 2rem);
    border: 1px solid var(--brown);
    padding: 1rem;
    border-radius: 10px;
}

.card-catalogo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card-catalogo h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--brown);
}

.card-catalogo p {
    font-size: 1.5rem;
}

.price-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-btn p {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--orange);
}

.price-btn button {
    background-color: var(--orange);
    color: var(--pink);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}