* {
    @apply box-border m-0 p-0;
}
:root {
    --brown: #473b3be3;
    --pink: rgb(206, 236, 213);
    --green: rgba(0, 68, 0, 1);
    --blue: rgba(34, 146, 164, 1);
    --orange: rgb(213, 96, 18);
}
.login-register a {
    @apply w-[150px] text-center;
}
.login {
    @apply relative uppercase no-underline transition-all duration-[0.2s] border-[color:var(--orange)] font-medium text-[color:var(--orange)] p-2.5 rounded-[14px] border-2 border-solid hover:shadow-[0_5px_10px_var(--orange)] active:-translate-y-px active:shadow-[0_5px_10px_rgba(0,0,0,0.2)] active:bg-[color:var(--orange)] active:text-[color:var(--pink)];
}
.register {
    @apply relative uppercase no-underline text-[color:var(--pink)] transition-all duration-[0.2s] border-[color:var(--pink)] font-medium p-2.5 rounded-[14px] border-2 border-solid hover:shadow-[0_5px_10px_var(--pink)] active:-translate-y-px active:shadow-[0_5px_10px_rgba(0,0,0,0.2)] active:bg-[color:var(--pink)] active:text-[color:var(--brown)];
}
.btn-login {
    @apply w-[400px];
}
.section-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 10%;
    flex-wrap: wrap;
    gap: 2%;
    height: 100vh;
    background-image: url(https://res.cloudinary.com/dyhfwq81d/image/upload/v1679002786/simple_ufhyhm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-right {
    @apply flex justify-center items-center w-96 h-96;
}
.btn-main {
    @apply relative transition-all duration-[0.2s] ease-[ease] cursor-pointer flex items-center m-auto px-[18px] py-3 rounded-[50px] border-[none] before:content-[""] before:absolute before:block before:w-[45px] before:h-[45px] before:transition-all before:duration-[0.3s] before:ease-[ease] before:rounded-[50px] before:left-0 before:top-0 hover:before:w-full active:scale-95;
    background: none;
    margin-top: 20px;
    margin-left: -5px;
    
}
.btn-main:before {
    background: var(--orange);
}
.btn-main span {
    @apply relative text-lg font-bold tracking-wider text-[color:var(--brown)];


}
.btn-main svg {
    @apply relative fill-none stroke-[color:var(--brown)] stroke-2 translate-x-[-5px] transition-all duration-[0.3s] ease-[ease] ml-2.5 top-0;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.btn-main:hover:before {
    background: var(--orange);
    margin-top: 2px;
}

.btn-main:hover svg {
    @apply translate-x-0;
}
.products-container {
    @apply flex items-center flex-wrap flex-col mt-[2%];
}
.products-container h2 {
    @apply text-[2.5rem] font-[bold] text-[color:var(--brown)] mb-[1%];
}
.card {
    @apply w-[300px] bg-[color:var(--brown)] p-2.5 rounded-[10px] m-2;
}
.card .image-card {
    @apply w-full h-[200px] p-[5px] rounded-[10px];
}
.card p {
    @apply text-[1.2rem] text-[color:var(--pink)] text-center mx-0 my-2.5;
}
.card img {
    @apply w-full h-full rounded-[10px];
}
.info-card {
    @apply flex justify-evenly;
}
.btn-products {
    @apply relative transition-all duration-[0.2s] ease-[ease] cursor-pointer flex items-center mx-0 my-[2%] px-[18px] py-3 rounded-[50px] border-[none] before:content-[""] before:absolute before:block before:w-[45px] before:h-[45px] before:transition-all before:duration-[0.3s] before:ease-[ease] before:rounded-[50px] before:left-0 before:top-0 hover:before:w-full active:scale-95;
    background: none;
}
.btn-products:before {
    background: var(--pink);
}
.btn-products span{
    @apply relative text-lg font-bold tracking-wider text-[color:var(--brown)] no-underline;
}
a{
    @apply no-underline text-[color:var(--brown)];
}
.btn-products svg {
    @apply relative fill-none stroke-[color:var(--brown)] stroke-2 translate-x-[-5px] transition-all duration-[0.3s] ease-[ease] ml-2.5 top-0;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.btn-products:hover:before {
    background: var(--pink);
}
.btn-products:hover svg {
    @apply translate-x-0;
}
article img {
    @apply w-3/5 h-32 rounded-[10px];
}
.box-mini p {
    @apply text-[1.2rem] text-[color:var(--brown)] text-center mt-2.5;
}
footer {
    @apply bg-[color:var(--brown)] flex justify-between items-center text-[color:var(--pink)] px-[15%] py-10;
}
footer a {
    @apply text-[color:var(--pink)] no-underline;
}
footer-menu {
    @apply flex items-center gap-[2%];
}
footer-menu a {
    @apply m-0;
}
.content-footer {
    @apply mx-[5px] my-0;
}