
 .box-submit a {
    @apply relative inline-block font-[bold] text-white text-base no-underline uppercase overflow-hidden transition-[0.5s] tracking-[3px] mt-10 px-5 py-2.5
}
.box-submit a:hover {
    @apply text-[#272727] rounded-[5px];
    background: #fff;
}
.box-submit a span {
    @apply absolute block;
}
  
.box-submit a span:nth-child(1) {
    @apply w-full h-0.5 animate-[btn-anim1_1.5s_linear_infinite] -left-full top-0;
    background: linear-gradient(90deg, transparent, #fff);
}
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
 .box-submit a span:nth-child(2) {
    @apply w-0.5 h-full animate-[btn-anim2_1.5s_linear_infinite] right-0 -top-full;
    background: linear-gradient(180deg, transparent, #fff);
    animation-delay: .375s
}
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
 .box-submit a span:nth-child(3) {
    @apply w-full h-0.5 animate-[btn-anim3_1.5s_linear_infinite] -right-full bottom-0;
    background: linear-gradient(270deg, transparent, #fff);
    animation-delay: .75s
}
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
 .box-submit a span:nth-child(4) {
    @apply w-0.5 h-full animate-[btn-anim4_1.5s_linear_infinite] left-0 -bottom-full;
    background: linear-gradient(360deg, transparent, #fff);
    animation-delay: 1.125s
}
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
      
      
      