@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Nunito+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.profile{
	width: 140px;
	height:140px;
	background-position: top;
	background-image: cover;
	background-color: transparent;
	border-radius: 100px;
    background-position:0cm ;
	background-color: transparent;
	border: 3.6px solid  #d56012;
	cursor: pointer;
}
.profile-header{
	width: 70px;
	height:70px;
	background-position: top;
	background-image: cover;
	background-color: transparent;
	border-radius: 100px;
	background-color: transparent;
	cursor: pointer;

}
.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
	
}

.container-icon{
	position:fixed;
	bottom:70%;
	left: 96%;
	z-index: 200;
	cursor: pointer;
	
}

.count-products {
	position: absolute;
	top: 20%;
	right: 50px;
    cursor: pointer;
	background-color: #d56012;
	color: #fff;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-left: -50px;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #fff;
	width: 350px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	max-height: 500px;
    overflow: auto; 
    border: 1px solid #ccc;
	
  
	
    
}

.container-cart-products::-webkit-scrollbar{
	-webkit-appearance: none;
}

.container-cart-products::-webkit-scrollbar:vertical {
    width:10px;
}

.container-cart-products::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.container-cart-products::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container-cart-products::-webkit-scrollbar-thumb {
    background-color:  rgb(250, 244, 244);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.container-cart-products::-webkit-scrollbar-track {
    border-radius: 10px;  
}



.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
	margin-right: -52px;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	color: red;
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	width: 70%;
	height: 50%;
	margin-left: 15%;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #d56012;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}


.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}
.btn-cash:hover{
	background-color: #333;
	transform: scale(1.03);
	border-radius: 0;
  }
  